#seat-0-picker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 10px;
}

#seat-1-picker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-left: 10px;
}

#seat-2-picker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: 10px;
}

#seat-3-picker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 10px;
}
