<DOCTYPE html>
<html>
    <head>
        <title>Spades</title>
        <link rel="stylesheet" type="text/css" href="styles/card_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/board_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/scoring_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/chat_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/seat_picker_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/external/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="styles/external/jquery-ui.structure.min.css">
        <link rel="stylesheet" type="text/css" href="styles/external/jquery-ui.theme.min.css">
    </head>
    <body>
        <div id="main-container">
            <div id="play-area">
                <div class="single-card-container" id="top-played-card"></div>
                <div class="single-card-container" id="left-played-card"></div>
                <div class="single-card-container" id="right-played-card"></div>
                <div class="single-card-container" id="bottom-played-card"></div>
                <div id="active-suit" class=suit-indicator"></div>
            </div>
        </div>

        <div id="right-panel">
            <div id="scoring-area">
                <table>
                    <thead>
                        <tr>
                            <th colspan=4 class="team-0-name">Team 0</th>
                            <th colspan=4 class="team-1-name">Team 1</th>
                        </tr>
                        <tr class="score-details">
                            <th colspan=1><span class="player-0"></span> bid</th>
                            <th colspan=1><span class="player-2"></span> bid</th>
                            <th colspan=1>Round score</th>
                            <th colspan=1>Total score</th>
                            <th colspan=1><span class="player-1"></span> bid</th>
                            <th colspan=1><span class="player-3"></span> bid</th>
                            <th colspan=1>Round score</th>
                            <th colspan=1>Total score</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div id="chat-area">
                <div id="chat-display-box">
                </div>
                <input id="chat-text-entry">
                </input>
            </div>
        </div>

        <div id="seat-picker">
            <button id="seat-0-picker"></button>
            <button id="seat-1-picker"></button>
            <button id="seat-2-picker"></button>
            <button id="seat-3-picker"></button>
        </div>

        <script data-main="scripts/load.js" src="scripts/lib/require.js"></script>

        <script type="text/template" id="card_template">
<div class="card-container">
    <div class="card">
        <img src="card_img/<%= suit %>/<%= card %>.png" alt="<%= card %> of <%= suit %>" class="front">
        <img src="card_img/backs/back<%= back %>.png" alt="CARD BACK" class="back">
    </div>
</div>
        </script>

        <script type="text/template" id="deck_template">
<div class="player-area">
    <div class="deck" style="transform-style: preserve-3d"></div>
    <div class="player-info-area-wrapper">
        <div class="player-info-area">
            <p class="player-name" align="center">Unknown</p>
            <div class="tricks-taken-area">
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
                <div class="trick-marker"></div>
            </div>
        </div>
    </div>
</div>
        </script>

        <script type="text/template" id="score_row_template">
            <td class="bid-0"><%= bid_0 %></td>
            <td class="bid-1"><%= bid_2 %></td>
            <td class="score"><%= round_score_0 %></td>
            <td class="cum-score"><%= cumulative_score_0 %></td>
            <td class="bid-0"><%= bid_1 %></td>
            <td class="bid-1"><%= bid_3 %></td>
            <td class="score"><%= round_score_1 %></td>
            <td class="cum-score"><%= cumulative_score_1 %></td>
        </script>

    </body>
</html>
