#main-container {
    width: 1000px;
    height: 750px;
    background-color: #45a5ae;
    position: absolute;
}

.deck {
    border-radius: 8px;
    border: 2px solid #F0EAD6;
}

#play-area {
    position: absolute;
    width: 282px;
    height: 417px;
}

.single-card-container {
    width: 90px;
    height: 135px;
    border-radius: 8px;
    border: 2px solid #F0EAD6;
    position: absolute;
}

#top-played-card {
    left: 94px;
    top: 0px;
}

#left-played-card {
    left: 0px;
    top: 139px;
}

#right-played-card {
    left: 188px;
    top: 139px;
}

#bottom-played-card {
    left: 94px;
    top: 278px;
}

#active-suit {
    position: absolute;
    border-radius: 10px;
    border: 2px solid #F0EAD6;
    width: 68px;
    height: 68px;
    left: 107px;
    top: 167px;

    font-size: 4em;
    text-align: center;
}
