#right-panel {
    margin-left: 5px;
    position: absolute;
}

#scoring-area {
    height: 75%;
    border: 2px solid #89B6D6;
    border-radius: 10px;
}

.team-area {
    float: left;
    width: 175px;
    height: 100%;
}

#team-1-area {
    border-right: 1px dotted #89B6D6;
}

table {
    width: 100%;
}

.score-details th {
    font-size: 10px;
}

.scoring-row {
    text-align: center;
}
